name: CI
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      CARGO_TERM_COLOR: always
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
      - name: Setup cache
        uses: Swatinem/rust-cache@v2
      - name: Build
        run: cargo build

  test:
    name: Tests
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Checkout repo & data
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.TOKEN }}
          submodules: true
      - name: Setup cache
        uses: Swatinem/rust-cache@v2
      - name: Run tests
        run: cargo test

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5
      - name: Setup cache
        uses: Swatinem/rust-cache@v2
      - name: Clippy
        run: cargo clippy --all-targets

  pre-commit:
    name: Pre-Commit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1
        env:
          SKIP: clippy
